.container{
    width: 60%;
    margin: 0 auto;
}

.blueDiv{
    background-color: aqua;
    height: 100px;
}
.profilePic{
    width: 100px;
    height: 100px;
    object-fit: contain;
    position: relative;
    top: 40px;
    left: 20px;

}
.mainContent{
    padding: 20px;
    border-left: 2px solid silver;
    border-right: 2px solid silver;
    border-bottom: 2px solid silver;
}